



#ofertas {
    grid-area: ofertas;
    width: 100%;
    padding: 20px;
   
   h2 {
        text-align: center;
        width: 100%;
        text-align: center;
        display: block;
        
    }
    .ofertascontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px 20px 10px 20px;
        width: 100%;
    }
    .card {
        width: 18rem;
    }
}


.ofertared {
    color: #d90429;
}
