.ofertared {
    color: #d90429;
}

.ofertascontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#ofertas {
    grid-area: ofertas;
  
    .ofertascontainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 20px;
  
      .card {
        width: auto !important;
        flex: 0 1 300px;
        max-width: 300px;
        padding: 15px;
        border-radius: 10px;
        border: 3px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
  
        img {
          max-width: 100%;
          height: auto;
          display: block;
          margin-bottom: 10px;
        }
  
        .btn {
          margin-top: 10px;
          width: 90%;
        }
      }
    }
  }

#titleofertas {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
